# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Backup files
*.bak

# Environment variables
.env
.env.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
